.task-item {
  justify-content: center;
  height: 200px;
  width: 250px;
  border: 10px solid #239100;
  background-color: #4b5563;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-title {
  text-overflow: ellipsis;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-style: italic;
  max-height: 25%;
}

.task-detail {
  flex: 2;
  margin-left: 10px;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.task-edit-button {
  background: linear-gradient(to right, green, lightgreen);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-delete-button {
  background: linear-gradient(to right, red, lightcoral);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
